In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ["a", "b", "c"]

my_data = [10, 20, 30]

arr = np.array(my_data)

d = {"a":10, "b":20, "c":30}

In [3]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [6]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [7]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [9]:
series1 = pd.Series([1,2,3,4], ["Azerbaijan", "Turkey", "Israel", "US"])
series1

Azerbaijan    1
Turkey        2
Israel        3
US            4
dtype: int64

In [10]:
series1["Azerbaijan"]

1

In [11]:
series2 = pd.Series([1,2,3,4,5,6,7], 
                    ["Azerbaijan", "Azerbaijan", "Germany","Azerbaijan", "Azerbaijan", "Germany","Japan"])
series2

Azerbaijan    1
Azerbaijan    2
Germany       3
Azerbaijan    4
Azerbaijan    5
Germany       6
Japan         7
dtype: int64

In [12]:
series2["Azerbaijan"]

Azerbaijan    1
Azerbaijan    2
Azerbaijan    4
Azerbaijan    5
dtype: int64

In [13]:
series2[5]

6

In [14]:
series2 = pd.Series([1,2,3,4], ["Azerbaijan", "Turkey", "Israel", "US"])
series2

Azerbaijan    1
Turkey        2
Israel        3
US            4
dtype: int64

In [15]:
2 * series1

Azerbaijan    2
Turkey        4
Israel        6
US            8
dtype: int64

DataFrames

In [16]:
np.random.seed(101)

In [17]:
df = pd.DataFrame(np.random.randn(5,4), 
                  ["A", "B", "C", "D", "E"],
                  ["W", "X", "Y", "Z"])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df["X"]

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [19]:
df[["W", "X"]]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [20]:
df["new"] = df["W"] + df["Y"]
print(df)
print(df["new"])

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762
A    3.614819
B   -0.196959
C   -1.489355
D   -0.744542
E    2.796762
Name: new, dtype: float64

In [21]:
df.drop("new", axis=1, inplace=True)

In [22]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [23]:
df.drop("E", inplace=True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [26]:
df.loc["A"]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [27]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [30]:
df.loc["A", "X"]

0.6281327087844596

In [33]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [38]:
df.loc[ ["A", "B", "C"], 
        ["Y", "Z"]]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
C  0.528813 -0.589001

In [42]:
df.iloc[[0,1], 
        [0,1]]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318